label,button {
    display: block;
    color: blue;
    font-size: 20px;
    margin-top: 8px;
}

button{
    color: red;
    font-size: larger;
    margin: auto;
}

table,th,td {
    border: 1px solid black;
    background-color: beige;
    margin: auto;
    margin-top: 8px;
}

th {
    color: rgb(66, 32, 221);
    font-size: larger;
    margin: 20px;
}

input {
    background-color: beige;
    margin-bottom: 10px;
}

#margin {
    text-align: center;
}

body {
    background-color: beige;
}

h1 {
    text-align: center;
    font-size: 30px;
    color: blue;
}